<header class="bg-blue-500 text-white py-4 px-8 flex items-center">
    <img src="assets/atlassian-inspired-icon.svg" alt="App Icon" class="w-8 h-8 mr-4"/>
    <h1 class="text-2xl font-bold inline">JIRA 2</h1>
    <nav>
        <!-- Add your navigation items here -->
        <!-- Add this button inside the <nav> element -->
        <button mat-button style="color: white !important;"
                class="text-white font-semibold py-2 px-4 rounded ml-4"
                (click)="openCreateIssueDialog()"
        >Create Issue
        </button>
    </nav>
</header>
<main class="p-8">
    <app-issue-list></app-issue-list>
</main>
